body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
  }
  
  .textinput {
    white-space: pre-line;
  }
  
  .time-block {
    text-align: center;
    border-radius: 8px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 200px;
    border-top: 1px solid white;
  }
  
  .hour {
    color: #000000;
  }
  
  .past {
    background-color: #6e6e6e;
    color: white;
  }
  
  .present {
    background-color: #ffffff;
    color: white;
  }
  
  .future {
    background-color: #d1d1d1;
    color: white;
  }
  
  .saveBtn {
    border: none;
    border-radius: 30px;
    background-color: #4733ff;
    color: rgb(255, 255, 255);
  }
  
  .saveBtn:hover {
    transition: all 0.2s ease-in-out;
    background-color: #5846ff;
  }
  
  .container-fluid {
      padding: 50px;
  }

  @media only screen and (min-width: 768px) {
      .row {
          height: 80px;
      }
  }